.depth-chart {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.column {
    width: 30%;
}

.droppable-col {
    width: 80%;
    height: 800px;
    margin-left: 10%;
    background-color: gray;
    padding: 10px 10px 0 10px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
}

.item {
    color: white;
    border: 1px solid white;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}